@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Gluten:wght@300&display=swap');

.App {
    text-align: center;
}

body {
    background-color: #2b2d42;
    margin: 0;
    padding: 0;
}

header {
    background-color:#edf2f4;
    padding: 3%;
}

h1 {
  margin: 0;
  padding: 0;
  color:#d90429;
  font-size: 4em;
  font-family: 'Gluten', cursive
}

h2 {
  font-family: 'Gluten', cursive

}
.Scontrino{
  background-color: #8d99ae;
  padding-bottom: 2%;
}

input, button, select {
  border-radius: 10px;
  padding: 10px
}

ul, li {
  list-style-type: none;
}

.Saldo {
  background-color: #2b2d42;
  padding:4%
}

.saldo {
  color: #edf2f4
}

.bottone {
  margin-left:10px;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
